:root {
  overflow-x: hidden;
}

.main-container {
  background-color: #20576e;
  min-height: 100vh;
  max-height: max-content;
  min-width: 100vw;
}
.inner-wrapper {
  min-height: 100vh;
  max-height: max-content;
}
.game-wrapper {
  min-height: 50vh;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.scaled:hover {
  transform: scale(0.95);
  transition: 150ms ease;
}
/* ******************** countdown bar **************** */
.timebar {
  position: relative;
  width: 20rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}
.timebar::after {
  content: attr(data-content);
  left: 0;
  right: 0;
  position: absolute;
  bottom: -0.4rem;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
}
