:root {
  --main-bg: 173, 216, 230;
}
.main-container {
  background-color: rgb(var(--main-bg));
  min-height: calc(100vh - 3.5rem);
  min-width: 100vw;
}
.img_container {
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.collapsing {
  overflow-x: visible !important;
  overflow-y: hidden !important;
}
